.notifications button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    font-size: 0.5rem !important;
    background-color: transparent !important;
    border: none !important;
    display: none !important;
}

.notifications {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.notifications div {
    position: relative;
}

.notifications div:hover button {
    display: inline !important;
}