.style {
    position: relative;
}

.style::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;
    background-color: var(--bg-opposite);
    transition: transform var(--transition-duration);
}

.style:hover::after {
    transform: translate(5px, 5px);
}

.dashboard {
    margin-left: var(--sidebar-width);
}

.dashboard nav {
    width: var(--sidebar-width);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    border-right: calc(2 * var(--border-width)) solid var(--bg-opposite);
}

.dashboard nav > button:first-child {
    background-color: var(--bg-opposite);
    color: var(--text-opposite);
    border: var(--border-width) solid var(--bg);
    text-align: center;
    overflow: visible;
}

.newProject {
    position: relative;
    width: 100%;
    opacity: 0;
    animation: fade-in var(--transition-duration) forwards;
}

@keyframes fade-in {
    to { opacity: 1; }
}

.newProject > div {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
}

.newProject input {
    grid-column: span 2 / span 2;
    background-color: var(--bg-opposite);
    color: var(--text-opposite);
    padding: 0.5rem 1ch;
    border: var(--border-width) solid var(--bg);
    outline: none;
    font-size: 0.8rem;
}

.newProject button {
    width: 100% !important;
    text-align: center !important;
    overflow: visible !important;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    transition: top var(--transition-duration);
}

.dashboard nav button {
    text-align: start;
    background-color: var(--bg);
    border: var(--border-width) solid var(--bg-opposite);
    color: var(--text);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5rem 1ch;
    font-size: 1rem;
}

.divider {
    width: 100%;
    border: var(--border-width) solid var(--bg-opposite);
    margin: 1rem 0;
}

.dashboard header {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 0;
}

.dashboard header button {
    padding: 0.5rem;
    border: var(--border-width) solid var(--bg-opposite);
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.dashboard header button span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    max-width: 0;
    opacity: 0;
    margin-left: 0;
    transition: max-width, opacity, margin-left;
    transition-duration: var(--transition-duration);
}

.dashboard header button:hover span {
    max-width: 200px;
    opacity: 1;
    margin-left: 1ch;
}

.dashboard main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.dashboard main > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard main > div > div {
    padding: 1rem;
}

.dashboard main > div > div:first-child {
    text-align: center;
    font-weight: bold;
    background-color: var(--bg-opposite);
    color: var(--text-opposite);
    white-space: nowrap;
}

.dashboard main > div > div:not(:first-child) {
    border: var(--border-width) solid var(--bg-opposite);
    position: relative;
    cursor: grab;
    background-color: var(--bg);
}