.style {
    position: relative;
}

.style::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;
    background-color: var(--bg-opposite);
    transition: transform var(--transition-duration);
}

.style:hover::after {
    transform: translate(5px, 5px);
}

.dashboard {
    margin-left: var(--sidebar-width);
}

.dashboard nav {
    width: var(--sidebar-width);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    border-right: calc(2 * var(--border-width)) solid var(--bg-opposite);
}

.dashboard nav > button:first-child {
    background-color: var(--bg-opposite);
    color: var(--text-opposite);
    border: var(--border-width) solid var(--bg);
    text-align: center;
    overflow: visible;
}

.confirm {
    position: relative;
    width: 100%;
    opacity: 0;
    animation: fade-in var(--transition-duration) forwards;
}

@keyframes fade-in {
    to { opacity: 1; }
}

.confirm > div {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
}

.confirm input {
    grid-column: span 2 / span 2;
    background-color: var(--bg-opposite);
    color: var(--text-opposite);
    padding: 0.5rem 1ch;
    border: var(--border-width) solid var(--bg);
    outline: none;
    font-size: 0.8rem;
}

.confirm button {
    width: 100% !important;
    text-align: center !important;
    overflow: visible !important;
}

.confirm h3 {
    grid-column: span 2 / span 2;
    text-align: center;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    gap: 0.5rem;
    transition: top var(--transition-duration);
}

.projects div {
    width: 90%;
    position: relative;
}

.projects button:not(.deleteButton) {
    width: 100% !important;
}

.projects .deleteButton {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content !important;
    font-size: 0.8rem;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent;
    display: none;
}

.projects div:hover .deleteButton {
    display: inline;
}

.deleteModal {
    position: absolute !important;
    top: 0;
    left: calc(100% + 1rem);
    z-index: 2;
}

.dashboard nav button {
    text-align: start;
    background-color: var(--bg);
    border: var(--border-width) solid var(--bg-opposite);
    color: var(--text);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5rem 1ch;
    font-size: 1rem;
}

.divider {
    width: 100%;
    border: var(--border-width) solid var(--bg-opposite);
    margin: 1rem 0;
}

.dashboard header {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 0;
}

.dashboard header > *:first-child {
    margin-right: auto;
}

.dashboard header button {
    padding: 0.5rem;
    border: var(--border-width) solid var(--bg-opposite);
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.dashboard header button span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    max-width: 0;
    opacity: 0;
    margin-left: 0;
    transition: max-width, opacity, margin-left;
    transition-duration: var(--transition-duration);
}

.dashboard header button:hover span {
    max-width: 200px;
    opacity: 1;
    margin-left: 1ch;
}

.dropbox {
    position: relative;
    z-index: 2;
}

.dropbox > * {
    position: absolute;
    top: 3rem;
    right: 0;
    background-color: hsla(0, 0%, 15%, 0.5);
    border: var(--border-width) solid var(--bg-opposite);
    backdrop-filter: blur(10px);
    width: max(20vw, 250px);
    padding: 1rem;
}

.newTask {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 3.5rem auto auto;
    gap: 0.5rem;
}

.newTask input, .newTask textarea, .newTask select {
    grid-column: span 2 / span 2;
    padding: 0.5rem 1ch;
    outline: none;
    background-color: var(--bg);
    color: var(--text);
    border: var(--border-width) solid var(--bg-opposite);
    font-size: 1rem;
}

.newTask input::placeholder, .newTask textarea::placeholder {
    color: var(--text);
}

.notifications {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--light);
}

.dashboard main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.dashboard main > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard main > div > div {
    padding: 1rem;
}

.dashboard main > div > div:first-child {
    text-align: center;
    font-weight: bold;
    background-color: var(--bg-opposite);
    color: var(--text-opposite);
    white-space: nowrap;
}

.dashboard main > div > div:not(:first-child) {
    border: var(--border-width) solid var(--bg-opposite);
    position: relative;
    color: var(--text);
    cursor: grab;
    background-color: var(--bg);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review, .delete {
    width: max(450px, 25vw);
    padding: 1rem !important;
    display: grid;
    gap: 0.5rem;
}

.review {
    grid-template-columns: repeat(3, 1fr);
}

.delete {
    grid-template-columns: repeat(2, 1fr);
}

.review, .review input, .review textarea, .review select, .review button {
    background-color: var(--bg);
    border: var(--border-width) solid var(--bg-opposite);
    color: var(--text);
    outline: none;
    font-size: 1rem;
    padding: 0.5rem 1ch;
}

.review input, .review textarea, .review select {
    border-color: transparent;
}

.review textarea {
    resize: none;
}

.review input:focus, .review textarea:focus, .review select:focus {
    border-color: var(--bg-opposite);
}

.review > *:nth-child(-n + 4) {
    grid-column: span 3 / span 3;
}

.review > div {
    margin: 0 1.5ch;
}

.delete, .delete button {
    background-color: var(--bg);
    border: var(--border-width) solid var(--bg-opposite);
    color: var(--text);
    outline: none;
    font-size: 1rem;
    padding: 0.5rem 1ch;
}

.delete > *:first-child {
    grid-column: span 2 / span 2;
    text-align: center;
}