.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.login > div {
    display: block;
    border: 3px solid green;
    box-shadow: 0 0 15px 5px green;
    padding: 3rem;
    padding-top: 2rem;
    border-radius: 15px;
    width: fit-content;
    min-width: 400px;
    background-color: rgba(0, 225, 0, 0.065);
}

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.switch button {
    padding: 0.5rem 2ch;
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid green;
    border-radius: 3rem;
    outline: none;
    color: white;
    transition: 0.25s;
}

.switch button:hover {
    box-shadow: 0 0 15px 5px green;
    transform: scale(1.1);
}

.divider {
    height: 1px;
    margin: 1rem 0;
    background: linear-gradient(to right, transparent, rgb(0, 168, 0), transparent);
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.login form > * {
    width: 100%;;
}

.login h1 {
    text-align: center;
    background: linear-gradient(to right, green, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.field {
    position: relative;
    border-radius: 3rem;
}

.field input {
    position: relative;
    width: 100%;
    padding: 0.7rem 2ch;
    font-size: 1rem;
    border-radius: inherit;
    border: none;
    background-color: var(--bg);
    color: white;
    outline: none;
    z-index: 1;
}

.field label {
    position: absolute;
    left: 2ch;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
    transition: 0.25s;
    border-radius: 1rem;
    z-index: 1;
}

.field::before, .field::after {
    content: '';
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: linear-gradient(to right, green, blue);
    z-index: -2;
    transition: 0.25s;
}

.field:has(input:hover)::before {
    filter: blur(10px);
}

.field input:focus + label,
.field input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(0.8);
}

.login button[type='submit'] {
    position: relative;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.login button[type='submit']::after {
    content: '';
    position: absolute;
    inset: -2px;
    background-color: green;
    filter: blur(10px);
    z-index: -1;
    transition: 0.25s;
}

.login button[type='submit']:hover::after {
    filter: blur(20px);
}