.login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login > div {
    color: var(--text);
    padding: 2rem;
    border: 3px solid var(--bg-opposite);
    width: max(400px, 20vw);
}

.login div:has(> h2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.login h2 {
    display: inline;
    width: 10ch;
}

.login div:has(> h2) span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.login button {
    position: relative;
    font-size: 1rem;
}

.login div:has(> h2) button {
    background-color: transparent;
    border: none;
    color: var(--text);
}

.login div:has(> h2) button::after {
    content: '';
    position: absolute;
    top: calc(100% + 0.35rem);
    left: 50%;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    background-color: var(--bg-opposite);
    transition: width;
    transition-duration: var(--transition-duration);
}

.login div:has(> h2) button:hover::after {
    width: 100%;
}

.divider {
    border: 2px solid var(--bg-opposite);
    margin: 1rem 0;
}

.login input::placeholder {
    color: hsl(0, 0%, 75%);
    font-size: 0.8rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
}

.form div {
    width: 100%;
    position: relative;
}

.form div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--bg-opposite);
    transition: top, left;
    transition-duration: var(--transition-duration);
}

.form div:has(input:hover)::after {
    top: 5px;
    left: 5px;
}

.form button, .form input {
    background-color: var(--bg);
    color: var(--text);
    border: 2px solid var(--bg-opposite);
    outline: none;
    padding: 0.75rem 2ch;
}

.form input {
    width: 100%;
    font-size: 1rem;
}

.form button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-opposite);
    z-index: -1;
    transition: top, left;
    transition-duration: var(--transition-duration);
}

.form button:hover::after {
    top: 5px;
    left: 5px;
}