.notFound {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.notFound > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: var(--border-width) solid var(--bg-opposite);
    padding: 1rem;
    width: max(400px, 20vw);
}

.divider {
    width: 100%;
    border: calc(0.5 * var(--border-width)) solid var(--bg-opposite);
}

.notFound p {
    font-size: 0.8rem;
}

.notFound form {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.notFound button {
    background-color: var(--bg);
    border: var(--border-width) solid var(--bg-opposite);
    color: var(--text);
    padding: 0.5rem 1ch;
    font-size: 1rem;
    position: relative;
}

.notFound button::after {
    content: '';
    inset: 0;
    position: absolute;
    background-color: var(--bg-opposite);
    z-index: -1;
    transition: transform var(--transition-duration);
}

.notFound button:hover::after {
    --offset: 5px;
    transform: translate(var(--offset), var(--offset));
}