* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --max-content-width: 1080px;
    --bg: hsl(0, 0%, 5%);
    --bg-opposite: white;
    --text: white;
    --text-opposite: hsl(0, 0%, 5%);
    --transition-duration: 0.25s;

    --sidebar-width: 220px;
    --border-width: 3px;
}

html, body {
    width: 100vw;
}

body {
    background-color: var(--bg);
    color: white;
}

button {
    cursor: pointer;
}