* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --max-content-width: 1080px;
    --bg: #0a0f14;
}

html, body {
    width: 100vw;
}

body {
    background-color: var(--bg);
    color: white;
}

button {
    cursor: pointer;
}